<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
      </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a class="color-white" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1>Edit {{ recipe_object.title }}</h1>
        <form method="post">
          {% csrf_token %}
          {{ create_form.as_p }}
          <button>Save</button>
        </form>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>